.venv
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log

.git
.gitignore
.gitattributes

Dockerfile
**/Dockerfile
.dockerignore

.idea/
.vscode/
*.swp
*.swo

dist/
build/
*.egg-info

*requirements.in

.DS_Store
Thumbs.db

tests/
.coverage
htmlcov/
.pytest_cache/

*.ipynb
.ipynb_checkpoints/

*.csv
*.tsv
*.sqlite
*.db